@media (max-width: 1280px) {
  .app__container {
    max-width: 1140px;
    padding-left: 0px;
  }
}
@media (max-width: 991px) {
  .app__container {
    padding-left: 15px;
  }
  .app__main-content {
    margin: 30px 0;
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media (max-width: 600px) {
  .app__main-content {
    margin-right: 15px;
    margin-left: 15px;
  }

  .navbar__active {
    font-size: 1.5rem;
  }

  .navbar__item {
    font-size: 1rem;
  }
}
